:root{
  --Dark-Blue: hsl(240, 38%, 20%);
  --Grayish-Blue: hsl(240, 18%, 77%);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Inter';
  src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf);
}

body{
  font-family: 'Inter';
}

.image-container {
  width: 327px;
  height: 308px;
  background-image: url(./images/pattern-bg.svg);
  background-size: contain;
  text-align: center;
  padding-top: 30px;
  margin: 24px auto 0;
  position: relative;
  & .image {
    width: 80%;

    border-radius: 4px;
  }

  & .arrows-container {
    background-color: white;
    width: 80px;
    height: 40px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    box-shadow: 1px 1px 5px;
    & .arrow {
      cursor: pointer;
    }
  }
}

.text-container {
  margin-top: 25px;
  padding-top: 37px;
  position: relative;

  & .quotes{
    width: 60px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  & .user-Testimonial {
    width: 311px;
    margin: 0 auto 19px;
    font-size: 1.125rem;
    line-height: 1.5rem;
    text-align: center;
    color: var(--DarkBlue);
    font-weight: 300;
  }
  .user-details {
    & .user-name,
    .user-degree {
      font-size: 0.9375rem;
      text-align: center;
    }

    .user-name {
      color: var(--DarkBlue);
    }

    .user-degree {
      color: var(--GrayishBlue);
    }
  }
}

@media (min-width: 769px){
  body{
    background-color: red;
  }

}
